body {
    background-color: darkgray}

    .navbar{
        position: absolute;
        top: 0;
        right: 0;
    }
    .wedding{
        position: absolute;
        border-image: round black;
        right: 20px;
        width: 200px;
        height: auto;
    }
img{

    width: 200px;
    height: auto;
}